p{
  width:300px;
  height: 50px;
  color: #015668;
  font-family: 'Chelsea Market', cursive;;
  font-size: 25px;
  background-color:#0D91A1;
  border: 5px solid #7DCE94 ;
  padding: 30px 0px 60px 20px;
}